absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1742562417367/work
annotated-types==0.7.0
anyio==4.9.0
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560574711/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click==8.2.1
distro==1.9.0
exceptiongroup==1.3.0
fastapi==0.115.12
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1739279199749/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1733299680490/work
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1740784252780/work
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1739952773131/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.9
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
jiter==0.10.0
joblib==1.4.2
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1741854587245/work
libclang==18.1.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1744984518836/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219705194/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
ml-dtypes @ file:///Users/runner/miniforge3/conda-bld/ml_dtypes_1725475072181/work
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1745393897776/work
numpy==2.1.3
openai==1.82.0
opencv-python==4.11.0
opencv-python-headless==4.11.0
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1744034290360/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pillow==11.2.1
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1731365485635/work/bazel-bin/python/dist/protobuf-5.28.3-cp310-abi3-macosx_11_0_arm64.whl#sha256=d473e3ea4b37b46362d9b7fefc5c56d63a253f4eefe6a48942bbb2e6f7f3a40e
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.11.4
pydantic_core==2.33.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dotenv==1.1.0
python-multipart==0.0.20
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1743371105/work/dist
scikit-learn==1.6.1
scipy==1.15.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio==1.3.1
starlette==0.46.2
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1733820672324/work/tensorboard-2.18.0-py3-none-any.whl#sha256=107ca4821745f73e2aefa02c50ff70a9b694f39f790b11e6f682f7d326745eab
tensorboard_data_server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1728639747059/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=ce38643173190a39784b519ed79b5589dac98dba9724e029dd684c21833034ae
tensorflow @ file:///Users/isuruf/projects/tensorflow-feedstock/miniforge3/conda-bld/tensorflow-split_1739809382323/work/tensorflow_pkg/tensorflow-2.18.0-cp310-cp310-macosx_11_0_arm64.whl#sha256=4df48283abd26a398a9eb51c66dcfec78997417a4d3c90908e83916783fbbbc6
tensorflow-io-gcs-filesystem==0.37.1
tensorflow_estimator @ file:///Users/isuruf/projects/tensorflow-feedstock/miniforge3/conda-bld/tensorflow-split_1739809382323/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=9f15e0cb46b97a29fa1b106ad85b4effcb4d2e31d29ba23b6130e64909752137
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1743676967121/work
threadpoolctl==3.6.0
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1744323578849/work
uvicorn==0.34.2
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1736869491315/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
